<h1>Restaurants#new</h1>

<%= simple_form_for [@restaurant] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category, collection: Restaurant::CATEGORY, as: :select %>
  <%= f.input :phone_number %>
  <%= f.submit "Add a Restaurant", class: "btn btn-primary" %>
<% end %>
